In [20]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [21]:
url = 'https://en.wikipedia.org/wiki/2009_flu_pandemic_in_the_United_States'

# response = requests.get(url)
# soup = BeautifulSoup(url, 'html.parser')

In [22]:
# table_a = soup.find_all("table", class_='navbar')
tables = pd.read_html(url)
tables

[    0                                                  1
 0 NaN  This article needs to be updated. Please updat...,
                                                     0  \
 0   Reported cases by state/territory[needs update...
 1                                  State or territory
 2                                               Total
 3                                             Alabama
 4                                              Alaska
 ..                                                ...
 57                           Northern Mariana Islands
 58                                        Puerto Rico
 59                                U.S. Virgin Islands
 60          NR: Not Reported - NLU: No Longer Updated
 61                                                vte

                                     1                                     2  \
 0                                 NaN                                   NaN
 1   State-reported confirmed cases[1]  State-reported hospital- izations[1]
 2                              115318                                 27632
 3                        2,453/NLU[2]                                    NR
 4                         1,563[3][4]                           18[3]wave 1
 ..                                ...                                   ...
 57                            71[112]                                    NR
 58                           908[113]                                    NR
 59                            80[115]                                    NR
 60                                NaN                                   NaN
 61                                NaN                                   NaN

                    3
 0                NaN
 1   Confirmed deaths
 2               3433
 3              19[2]
 4      13[5] (11)[6]
 ..               ...
 57                 0
 58           60[114]
 59            1[115]
 60               NaN
 61               NaN

 [62 rows x 4 columns],
           State or territory State-reported confirmed cases[1]  \
 0                      Total                            115318
 1                    Alabama                      2,453/NLU[2]
 2                     Alaska                       1,563[3][4]
 3                    Arizona                          8,726[7]
 4                   Arkansas                        154/NLU[8]
 5                 California                        10,545[10]
 6                   Colorado                         1,321[11]
 7                Connecticut                         5,491[13]
 8                   Delaware                       381[14][15]
 9       District of Columbia                            54[14]
 10                   Florida                         3,676[18]
 11                   Georgia                         1,012[21]
 12                    Hawaii                         2,221[23]
 13                     Idaho                         1,171[25]
 14                  Illinois                         3,387[26]
 15                   Indiana                           782[28]
 16                      Iowa                           929[29]
 17                    Kansas                         1,201[32]
 18                  Kentucky                         2,092[34]
 19                 Louisiana                         1,876[35]
 20                     Maine                         2,232[37]
 21                  Maryland                         1,772[39]
 22             Massachusetts                         1,979[42]
 23                  Michigan                       655/NLU[44]
 24                 Minnesota                         2,220[14]
 25               Mississippi                         1,292[49]
 26                  Missouri                         1,523[51]
 27                   Montana                           961[53]
 28                  Nebraska                430[55][dead link]
 29                    Nevada                     5,516[57][58]
 30             New Hampshire                           722[60]
 31                New Jersey                     1,006/NLU[62]
 32                New Mexico                         1,007[65]
 33                  New York                     2,738[14][68]
 34            North Carolina                           638[70]
 35              North Dakota                           650[72]
 36                      Ohio                       227/NLU[74]
 37                  Oklahoma                       237/NLU[76]
 38                    Oregon                         1,833[78]
 39              Pennsylvania                        10,940[80]
 40              Rhode Island                           203[81]
 41            South Carolina                         1,634[85]
 42              South Dakota                         2,081[87]
 43                 Tennessee                         1,163[88]
 44                     Texas                         6,128[90]
 45                      Utah                           988[14]
 46                   Vermont                           404[95]
 47                  Virginia                       327[14][97]
 48                Washington                     1,882[14][99]
 49             West Virginia                        1,214[102]
 50                 Wisconsin                        9,579[105]
 51                   Wyoming                          725[106]
 52                       NaN                               NaN
 53            American Samoa                           90[108]
 54                      Guam                          338[110]
 55  Northern Mariana Islands                           71[112]
 56               Puerto Rico                          908[113]
 57       U.S. Virgin Islands                           80[115]

    State-reported hospital- izations[1] Confirmed deaths
 0                                 27632             3433
 1                                    NR            19[2]
 2                           18[3]wave 1    13[5] (11)[6]
 3                              1,897[7]           152[7]
 4                                    NR            32[9]
 5                             8,589[10]              657
 6                               578[12]           70[12]
 7                               766[13]           35[13]
 8                                    NR            7[16]
 9                                    NR            1[17]
 10                            1,227[18]      230[19][20]
 11                              860[21]           81[22]
 12                                   NR           13[24]
 13                        389[25]wave 2     23[25]wave 2
 14                            3,042[27]          111[27]
 15                                   NR           39[28]
 16                              700[30]           41[31]
 17                                   NR           29[33]
 18                                   NR           39[34]
 19                                   NR           52[36]
 20                              230[37]           21[38]
 21                              996[40]           45[41]
 22                              397[42]           33[43]
 23                                   NR       88[45][46]
 24                            1,813[47]           61[48]
 25                                   NR           26[50]
 26                                   NR           17[52]
 27                                9[53]           19[54]
 28                               40[55]           15[56]
 29                                   NR       44[57][59]
 30                                   NR           10[61]
 31                              512[63]           42[64]
 32                            1,007[66]           58[67]
 33                              909[69]              206
 34                              267[70]          107[71]
 35                               60[72]            2[73]
 36                                   NR           52[75]
 37                                7[76]           44[77]
 38                            1,419[78]           79[79]
 39                                   NR           78[80]
 40                               76[82]       13[83][84]
 41                                   NR           49[86]
 42                              422[87]           23[87]
 43                                   NR           57[89]
 44                            1,994[91]          231[92]
 45                              302[93]           48[94]
 46                              149[95]            3[96]
 47                                   NR           37[98]
 48                           1,561[100]          99[101]
 49                             853[103]          22[104]
 50                           1,317[105]          55[105]
 51                                   NR          10[107]
 52                                  NaN              NaN
 53                                   NR           1[109]
 54                                   NR           2[111]
 55                                   NR                0
 56                                   NR          60[114]
 57                                   NR           1[115]  ,
     0                                                  1
 0 NaN  This section needs expansion. You can help by ...,
     0                                                  1
 0 NaN  This section's factual accuracy may be comprom...,
                            2009 US Swine Flu Summary  \
 0                   Number of Confirmed Cases/Deaths
 1    Number of States/Territorieswith Reported Cases
 2  Number of States/Territorieswith Confirmed Deaths
 3                 Earliest Confirmed Infection in US
 4                          First Death Inside the US
 5                          First Death of US Citizen
 6                      Number of People Hospitalized
 7                                         Fatalities

                        Unnamed: 1
 0                 See Table Above
 1                              56
 2                              55
 3             March 28, 2009[142]
 4             April 27, 2009[135]
 5                May 5, 2009[143]
 6  9,079 (as of September 3)[144]
 7    593 (as of September 3)[144]  ,
     0                                                  1
 0 NaN  This section needs expansion. You can help by ...,
     0                                                  1
 0 NaN  This section's factual accuracy may be comprom...,
     0                                                  1
 0 NaN  Wikinews has related news:  Obama declares swi...,
             2009           A(H1N1) Outbreak and pandemic milestones
 0       28 March  First case in the US of what would later be id...
 1       21 April                First case confirmed in California.
 2       23 April                     First case confirmed in Texas.
 3       25 April                    First case confirmed in Kansas.
 4       25 April  Community outbreaks confirmed in the United St...
 ..           ...                                                ...
 113   28 October  First death confirmed in Vermont. All 50 state...
 114   4 November           First feline zoonosis confirmed in Iowa.
 115  19 November           First death confirmed in American Samoa.
 116  19 November            First feline death confirmed in Oregon.
 117  24 November  First double infection case confirmed in West ...

 [118 rows x 2 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to 2009 sw...,
     0                                                  1
 0 NaN  Wikinews has related news:  US declares public...,
                                 vte2009 flu pandemic  \
 0                Outbreak timeline · Pandemic tables
 1                                           Location
 2                                             Africa
 3                                               Asia
 4                                             Europe
 5                                      North America
 6                                      South America
 7                                            Oceania
 8                                            Related
 9  See also: Spanish flu, H5N1, Bird flu, and Inf...

                               vte2009 flu pandemic.1
 0                Outbreak timeline · Pandemic tables
 1  Africa Algeria Benin Egypt Ethiopia Ghana Keny...
 2  Algeria Benin Egypt Ethiopia Ghana Kenya Libya...
 3  Azerbaijan Bahrain Bangladesh Cambodia China C...
 4  Albania Austria Belgium Bosnia and Herzegovina...
 5  Aruba Belize Canada Costa Rica Cuba Dominican ...
 6  Argentina Bolivia Brazil Chile Colombia Ecuado...
 7  Australia Fiji Nauru New Zealand Palau Papua N...
 8  Influenza pandemic Swine influenza Influenza I...
 9  See also: Spanish flu, H5N1, Bird flu, and Inf...  ,
                0                                                  1
 0         Africa  Algeria Benin Egypt Ethiopia Ghana Kenya Libya...
 1           Asia  Azerbaijan Bahrain Bangladesh Cambodia China C...
 2         Europe  Albania Austria Belgium Bosnia and Herzegovina...
 3  North America  Aruba Belize Canada Costa Rica Cuba Dominican ...
 4  South America  Argentina Bolivia Brazil Chile Colombia Ecuado...
 5        Oceania  Australia Fiji Nauru New Zealand Palau Papua N...,
                  vteInfluenza  \
 0              General topics
 1                     Viruses
 2   Influenza A virussubtypes
 3                        H1N1
 4                   Pandemics
 5                     Science
 6                        H5N1
 7                   Outbreaks
 8                     Science
 9                  Treatments
 10            Antiviral drugs
 11                   Vaccines
 12     Pandemics andepidemics
 13                  Pandemics
 14                  Epidemics
 15                  Non-human
 16                    Mammals
 17                Non-mammals
 18              Complications
 19             Related topics

                                        vteInfluenza.1
 0   Research Vaccine Treatment Genome sequencing R...
 1   Orthomyxoviridae Influenza A Influenza B Influ...
 2   H1N1 H1N2 H2N2 H2N3 H3N1 H3N2 H3N8 H5N1 H5N2 H...
 3   Pandemics 1918 ("Spanish flu") 2009 ("swine fl...
 4             1918 ("Spanish flu") 2009 ("swine flu")
 5                                         2009 A/H1N1
 6   Outbreaks Croatia (2005) India (2006) UK (2007...
 7   Croatia (2005) India (2006) UK (2007) West Ben...
 8   Genetic structure Transmission and infection G...
 9   Antiviral drugs Adamantane derivatives Amantad...
 10  Adamantane derivatives Amantadine Rimantadine ...
 11  Live attenuated influenza vaccine Brands Pande...
 12  Pandemics "Russian flu" (1889–1890) "Spanish f...
 13  "Russian flu" (1889–1890) "Spanish flu" (1918)...
 14  "Russian flu" (1977–1978) "Fujian flu" (H3N2) ...
 15  Mammals Canine Feline Equine 2007 Australian o...
 16  Canine Feline Equine 2007 Australian outbreak ...
 17                                Avian Fujian (H5N1)
 18  Acute bronchitis Bronchiolitis Croup Otitis me...
 19  Influenza-like illness 2017–18 United States f...  ,
            0                                        1
 0  Pandemics  1918 ("Spanish flu") 2009 ("swine flu")
 1    Science                              2009 A/H1N1,
            0                                                  1
 0  Outbreaks  Croatia (2005) India (2006) UK (2007) West Ben...
 1    Science  Genetic structure Transmission and infection G...,
                  0                                                  1
 0  Antiviral drugs  Adamantane derivatives Amantadine Rimantadine ...
 1         Vaccines  Live attenuated influenza vaccine Brands Pande...,
            0                                                  1
 0  Pandemics  "Russian flu" (1889–1890) "Spanish flu" (1918)...
 1  Epidemics  "Russian flu" (1977–1978) "Fujian flu" (H3N2) ...,
              0                                                  1
 0      Mammals  Canine Feline Equine 2007 Australian outbreak ...
 1  Non-mammals                                Avian Fujian (H5N1)]

In [23]:
df = tables[2]

df.head(58)

,State or territory,State-reported confirmed cases[1],State-reported hospital- izations[1],Confirmed deaths
0,Total,115318,27632,3433
1,Alabama,"2,453/NLU[2]",NR,19[2]
2,Alaska,"1,563[3][4]",18[3]wave 1,13[5] (11)[6]
3,Arizona,"8,726[7]","1,897[7]",152[7]
4,Arkansas,154/NLU[8],NR,32[9]
5,California,"10,545[10]","8,589[10]",657
6,Colorado,"1,321[11]",578[12],70[12]
7,Connecticut,"5,491[13]",766[13],35[13]
8,Delaware,381[14][15],NR,7[16]
9,District of Columbia,54[14],NR,1[17]
10,Florida,"3,676[18]","1,227[18]",230[19][20]
11,Georgia,"1,012[21]",860[21],81[22]
12,Hawaii,"2,221[23]",NR,13[24]
13,Idaho,"1,171[25]",389[25]wave 2,23[25]wave 2
14,Illinois,"3,387[26]","3,042[27]",111[27]
15,Indiana,782[28],NR,39[28]
16,Iowa,929[29],700[30],41[31]
17,Kansas,"1,201[32]",NR,29[33]
18,Kentucky,"2,092[34]",NR,39[34]
19,Louisiana,"1,876[35]",NR,52[36]
20,Maine,"2,232[37]",230[37],21[38]
21,Maryland,"1,772[39]",996[40],45[41]
22,Massachusetts,"1,979[42]",397[42],33[43]
23,Michigan,655/NLU[44],NR,88[45][46]
24,Minnesota,"2,220[14]","1,813[47]",61[48]
25,Mississippi,"1,292[49]",NR,26[50]
26,Missouri,"1,523[51]",NR,17[52]
27,Montana,961[53],9[53],19[54]
28,Nebraska,430[55][dead link],40[55],15[56]
29,Nevada,"5,516[57][58]",NR,44[57][59]
30,New Hampshire,722[60],NR,10[61]
31,New Jersey,"1,006/NLU[62]",512[63],42[64]
32,New Mexico,"1,007[65]","1,007[66]",58[67]
33,New York,"2,738[14][68]",909[69],206
34,North Carolina,638[70],267[70],107[71]
35,North Dakota,650[72],60[72],2[73]
36,Ohio,227/NLU[74],NR,52[75]
37,Oklahoma,237/NLU[76],7[76],44[77]
38,Oregon,"1,833[78]","1,419[78]",79[79]
39,Pennsylvania,"10,940[80]",NR,78[80]
40,Rhode Island,203[81],76[82],13[83][84]
41,South Carolina,"1,634[85]",NR,49[86]
42,South Dakota,"2,081[87]",422[87],23[87]
43,Tennessee,"1,163[88]",NR,57[89]
44,Texas,"6,128[90]","1,994[91]",231[92]
45,Utah,988[14],302[93],48[94]
46,Vermont,404[95],149[95],3[96]
47,Virginia,327[14][97],NR,37[98]
48,Washington,"1,882[14][99]","1,561[100]",99[101]
49,West Virginia,"1,214[102]",853[103],22[104]
50,Wisconsin,"9,579[105]","1,317[105]",55[105]
51,Wyoming,725[106],NR,10[107]
52,NaN,NaN,NaN,NaN
53,American Samoa,90[108],NR,1[109]
54,Guam,338[110],NR,2[111]
55,Northern Mariana Islands,71[112],NR,0
56,Puerto Rico,908[113],NR,60[114]
57,U.S. Virgin Islands,80[115],NR,1[115]

In [24]:
df = df.rename(columns={"State or territory":"states", 
                        "State-reported confirmed cases[1]": "h1n1_confirmed_cases", 
                        "State-reported hospital- izations[1]": "h1n1_hospitalization", 
                        "Confirmed deaths": "h1n1_confirmed_deaths"})
del df["h1n1_hospitalization"]

In [25]:
df= df.dropna()
df

                      states h1n1_confirmed_cases h1n1_confirmed_deaths
0                      Total               115318                  3433
1                    Alabama         2,453/NLU[2]                 19[2]
2                     Alaska          1,563[3][4]         13[5] (11)[6]
3                    Arizona             8,726[7]                152[7]
4                   Arkansas           154/NLU[8]                 32[9]
5                 California           10,545[10]                   657
6                   Colorado            1,321[11]                70[12]
7                Connecticut            5,491[13]                35[13]
8                   Delaware          381[14][15]                 7[16]
9       District of Columbia               54[14]                 1[17]
10                   Florida            3,676[18]           230[19][20]
11                   Georgia            1,012[21]                81[22]
12                    Hawaii            2,221[23]                13[24]
13                     Idaho            1,171[25]          23[25]wave 2
14                  Illinois            3,387[26]               111[27]
15                   Indiana              782[28]                39[28]
16                      Iowa              929[29]                41[31]
17                    Kansas            1,201[32]                29[33]
18                  Kentucky            2,092[34]                39[34]
19                 Louisiana            1,876[35]                52[36]
20                     Maine            2,232[37]                21[38]
21                  Maryland            1,772[39]                45[41]
22             Massachusetts            1,979[42]                33[43]
23                  Michigan          655/NLU[44]            88[45][46]
24                 Minnesota            2,220[14]                61[48]
25               Mississippi            1,292[49]                26[50]
26                  Missouri            1,523[51]                17[52]
27                   Montana              961[53]                19[54]
28                  Nebraska   430[55][dead link]                15[56]
29                    Nevada        5,516[57][58]            44[57][59]
30             New Hampshire              722[60]                10[61]
31                New Jersey        1,006/NLU[62]                42[64]
32                New Mexico            1,007[65]                58[67]
33                  New York        2,738[14][68]                   206
34            North Carolina              638[70]               107[71]
35              North Dakota              650[72]                 2[73]
36                      Ohio          227/NLU[74]                52[75]
37                  Oklahoma          237/NLU[76]                44[77]
38                    Oregon            1,833[78]                79[79]
39              Pennsylvania           10,940[80]                78[80]
40              Rhode Island              203[81]            13[83][84]
41            South Carolina            1,634[85]                49[86]
42              South Dakota            2,081[87]                23[87]
43                 Tennessee            1,163[88]                57[89]
44                     Texas            6,128[90]               231[92]
45                      Utah              988[14]                48[94]
46                   Vermont              404[95]                 3[96]
47                  Virginia          327[14][97]                37[98]
48                Washington        1,882[14][99]               99[101]
49             West Virginia           1,214[102]               22[104]
50                 Wisconsin           9,579[105]               55[105]
51                   Wyoming             725[106]               10[107]
53            American Samoa              90[108]                1[109]
54                      Guam             338[110]                2[111]
55  Northern Mariana Islands              71[112]                     0
56               Puerto Rico             908[113]               60[114]
57       U.S. Virgin Islands              80[115]                1[115]

In [26]:
df["h1n1_confirmed_cases"] = df["h1n1_confirmed_cases"].apply(lambda x:x.split('/NLU')[0])
df["h1n1_confirmed_cases"] = df["h1n1_confirmed_cases"].apply(lambda x:x.split('[')[0])
df["h1n1_confirmed_deaths"] = df["h1n1_confirmed_deaths"].apply(lambda x:x.split('[')[0])
df["h1n1_confirmed_deaths"] = df["h1n1_confirmed_deaths"].apply(lambda x:x.split('wave 2')[0])

In [27]:
df['h1n1_confirmed_cases'] = df['h1n1_confirmed_cases'].str.replace(',', '')

df['h1n1_confirmed_cases']

0     115318
1       2453
2       1563
3       8726
4        154
5      10545
6       1321
7       5491
8        381
9         54
10      3676
11      1012
12      2221
13      1171
14      3387
15       782
16       929
17      1201
18      2092
19      1876
20      2232
21      1772
22      1979
23       655
24      2220
25      1292
26      1523
27       961
28       430
29      5516
30       722
31      1006
32      1007
33      2738
34       638
35       650
36       227
37       237
38      1833
39     10940
40       203
41      1634
42      2081
43      1163
44      6128
45       988
46       404
47       327
48      1882
49      1214
50      9579
51       725
53        90
54       338
55        71
56       908
57        80
Name: h1n1_confirmed_cases, dtype: object

In [28]:
df

                      states h1n1_confirmed_cases h1n1_confirmed_deaths
0                      Total               115318                  3433
1                    Alabama                 2453                    19
2                     Alaska                 1563                    13
3                    Arizona                 8726                   152
4                   Arkansas                  154                    32
5                 California                10545                   657
6                   Colorado                 1321                    70
7                Connecticut                 5491                    35
8                   Delaware                  381                     7
9       District of Columbia                   54                     1
10                   Florida                 3676                   230
11                   Georgia                 1012                    81
12                    Hawaii                 2221                    13
13                     Idaho                 1171                    23
14                  Illinois                 3387                   111
15                   Indiana                  782                    39
16                      Iowa                  929                    41
17                    Kansas                 1201                    29
18                  Kentucky                 2092                    39
19                 Louisiana                 1876                    52
20                     Maine                 2232                    21
21                  Maryland                 1772                    45
22             Massachusetts                 1979                    33
23                  Michigan                  655                    88
24                 Minnesota                 2220                    61
25               Mississippi                 1292                    26
26                  Missouri                 1523                    17
27                   Montana                  961                    19
28                  Nebraska                  430                    15
29                    Nevada                 5516                    44
30             New Hampshire                  722                    10
31                New Jersey                 1006                    42
32                New Mexico                 1007                    58
33                  New York                 2738                   206
34            North Carolina                  638                   107
35              North Dakota                  650                     2
36                      Ohio                  227                    52
37                  Oklahoma                  237                    44
38                    Oregon                 1833                    79
39              Pennsylvania                10940                    78
40              Rhode Island                  203                    13
41            South Carolina                 1634                    49
42              South Dakota                 2081                    23
43                 Tennessee                 1163                    57
44                     Texas                 6128                   231
45                      Utah                  988                    48
46                   Vermont                  404                     3
47                  Virginia                  327                    37
48                Washington                 1882                    99
49             West Virginia                 1214                    22
50                 Wisconsin                 9579                    55
51                   Wyoming                  725                    10
53            American Samoa                   90                     1
54                      Guam                  338                     2
55  Northern Mariana Islands                   71                     0
56               Puerto Rico                  908                    60
57       U.S. Virgin Islands                   80                     1

In [29]:
df.to_csv(r'Resources\H1N1.csv', index=False)

In [14]:
url_2 = 'https://www.worldometers.info/coronavirus/country/us/'
response=requests.get(url_2)
tables_2 = pd.read_html(response.text)
df2= tables_2[0]

In [15]:
df2 = df2.rename(columns={"USAState":"states", 
                              "TotalCases": "covid19_confirmed_cases", 
                              "NewCases": "covid19_new_case",
                              "TotalDeaths": "covid19_confirmed_deaths",
                              "NewDeaths": "covid19_new_deaths",
                              "ActiveCases": "covid19_active_cases"})
df2

,states,covid19_confirmed_cases,covid19_new_case,covid19_confirmed_deaths,covid19_new_deaths,covid19_active_cases,Source
0,New York,52318,"+6,056",728.0,122.0,48864,[source] [source] [source] [source] [source] [...
1,New Jersey,11124,"+2,299",140.0,32.0,10984,[source]
2,California,4980,+189,104.0,10.0,4855,[source] [source] [source] [source] [source] [...
3,Michigan,4650,+993,111.0,19.0,4534,[source] [source]
4,Massachusetts,4257,"+1,017",44.0,9.0,4212,[source] [source]
5,Florida,3763,+565,54.0,8.0,3709,[source] [source]
6,Washington,3723,+23,175.0,NaN,3424,[source] [source] [source]
7,Illinois,3491,+465,47.0,13.0,3442,[source]
8,Louisiana,3315,+569,137.0,18.0,3178,[source] [source]
9,Pennsylvania,2751,+533,34.0,12.0,2717,[source]
10,Georgia,2366,+168,69.0,4.0,2297,[source] [source] [source]
11,Texas,2329,+379,30.0,4.0,2288,[source] [source] [source] [source] [source]
12,Colorado,1734,NaN,31.0,NaN,1703,[source]
13,Tennessee,1512,+309,7.0,1.0,1505,[source] [source] [source] [source] [source]
14,Ohio,1406,+269,25.0,6.0,1381,[source] [source]
15,Connecticut,1291,NaN,27.0,NaN,1264,[source] [source] [source]
16,Indiana,1232,+251,31.0,7.0,1201,[source] [source]
17,Maryland,992,+218,5.0,NaN,955,[source]
18,Wisconsin,989,+147,15.0,1.0,972,[source] [source]
19,North Carolina,952,+72,4.0,1.0,948,[source] [source] [source]
20,Missouri,838,+168,10.0,1.0,826,[source]
21,Arizona,773,+108,15.0,2.0,755,[source] [source]
22,Virginia,739,+135,17.0,3.0,720,[source]
23,Alabama,696,+69,3.0,NaN,693,[source] [source]
24,Mississippi,663,+84,13.0,5.0,650,[source]
25,South Carolina,660,+121,15.0,2.0,645,[source]
26,Nevada,621,+86,10.0,NaN,611,[source]
27,Utah,602,+122,2.0,NaN,600,[source]
28,Oregon,479,+65,13.0,2.0,466,[source] [source] [source]
29,Minnesota,441,+43,5.0,1.0,302,[source]
30,Arkansas,404,+23,3.0,NaN,377,[source] [source]
31,Oklahoma,377,+55,15.0,7.0,361,[source]
32,District Of Columbia,304,NaN,4.0,NaN,249,[source]
33,Kentucky,302,NaN,8.0,NaN,292,[source] [source] [source] [source]
34,Iowa,298,+63,3.0,NaN,277,[source] [source] [source]
35,Kansas,261,+59,5.0,1.0,256,[source] [source]
36,Idaho,230,NaN,3.0,NaN,227,[source] [source]
37,Delaware,213,+48,3.0,1.0,201,[source] [source]
38,Vermont,211,+27,12.0,2.0,199,[source]
39,Maine,211,+43,1.0,NaN,194,[source]
40,New Mexico,208,+17,1.0,NaN,207,[source] [source]
41,Rhode Island,203,NaN,NaN,NaN,203,[source] [source] [source]
42,New Hampshire,187,NaN,2.0,NaN,185,[source] [source]
43,Montana,129,+8,1.0,NaN,128,[source] [source]
44,Hawaii,120,NaN,NaN,NaN,120,[source] [source]
45,Nebraska,96,+11,2.0,2.0,94,[source] [source]
46,West Virginia,96,NaN,1.0,NaN,95,[source] [source] [source]
47,Alaska,85,+16,2.0,1.0,83,[source] [source]
48,North Dakota,83,+15,1.0,NaN,66,[source] [source]
49,Wyoming,82,+9,NaN,NaN,82,[source]
50,South Dakota,68,+10,1.0,NaN,41,[source]
51,Guam,51,NaN,1.0,NaN,50,NaN
52,Puerto Rico,100,+21,3.0,NaN,96,[source]
53,United States Virgin Islands,21,+2,NaN,NaN,21,[source] [source]
54,Wuhan Repatriated,3,NaN,NaN,NaN,3,NaN
55,Diamond Princess Cruise,46,NaN,NaN,NaN,46,NaN
56,Total:,120076,15950,1993.0,297.0,114854,NaN

In [16]:
Corona_df = df2[["states", "covid19_confirmed_cases", "covid19_confirmed_deaths"]]

In [17]:
Corona_df

,states,covid19_confirmed_cases,covid19_confirmed_deaths
0,New York,52318,728.0
1,New Jersey,11124,140.0
2,California,4980,104.0
3,Michigan,4650,111.0
4,Massachusetts,4257,44.0
5,Florida,3763,54.0
6,Washington,3723,175.0
7,Illinois,3491,47.0
8,Louisiana,3315,137.0
9,Pennsylvania,2751,34.0
10,Georgia,2366,69.0
11,Texas,2329,30.0
12,Colorado,1734,31.0
13,Tennessee,1512,7.0
14,Ohio,1406,25.0
15,Connecticut,1291,27.0
16,Indiana,1232,31.0
17,Maryland,992,5.0
18,Wisconsin,989,15.0
19,North Carolina,952,4.0
20,Missouri,838,10.0
21,Arizona,773,15.0
22,Virginia,739,17.0
23,Alabama,696,3.0
24,Mississippi,663,13.0
25,South Carolina,660,15.0
26,Nevada,621,10.0
27,Utah,602,2.0
28,Oregon,479,13.0
29,Minnesota,441,5.0
30,Arkansas,404,3.0
31,Oklahoma,377,15.0
32,District Of Columbia,304,4.0
33,Kentucky,302,8.0
34,Iowa,298,3.0
35,Kansas,261,5.0
36,Idaho,230,3.0
37,Delaware,213,3.0
38,Vermont,211,12.0
39,Maine,211,1.0
40,New Mexico,208,1.0
41,Rhode Island,203,NaN
42,New Hampshire,187,2.0
43,Montana,129,1.0
44,Hawaii,120,NaN
45,Nebraska,96,2.0
46,West Virginia,96,1.0
47,Alaska,85,2.0
48,North Dakota,83,1.0
49,Wyoming,82,NaN
50,South Dakota,68,1.0
51,Guam,51,1.0
52,Puerto Rico,100,3.0
53,United States Virgin Islands,21,NaN
54,Wuhan Repatriated,3,NaN
55,Diamond Princess Cruise,46,NaN
56,Total:,120076,1993.0

In [18]:
Corona_df.to_csv(r'Resources\Covid19.csv', index=False)