In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/Covid19_Vs_H1N1')
connection = engine.connect()

In [3]:

data = pd.read_sql('SELECT h1n1.states, covid19.states, h1n1.h1n1_confirmed_cases, covid19.covid_confirmed_cases, h1n1.h1n1_confirmed_deaths, covid19.covid_confirmed_deaths FROM h1n1 LEFT OUTER JOIN covid19 ON h1n1.states=covid19.states;', connection)

In [6]:
data.head()

,states,states,h1n1_confirmed_cases,covid_confirmed_cases,h1n1_confirmed_deaths,covid_confirmed_deaths
0,Total,Total,115318,119938.0,3433,1991.0
1,Alabama,Alabama,2453,696.0,19,3.0
2,Alaska,Alaska,1563,85.0,13,2.0
3,Arizona,Arizona,8726,773.0,152,15.0
4,Arkansas,Arkansas,154,404.0,32,3.0